<!-- Contact Section -->
<section class="contact-section bg-black william_footer">
  <div class="container">

    <div class="row">

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0 william_text">Address</h4>
            <hr class="my-4 william_line">
            <div class="small text-black-50 william_text">27 Upland Road, Somerville MA</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0 william_text">Email</h4>
            <hr class="my-4 william_line">
            <div class="small text-black-50">
              <a href="mailto:william.andrew.simon@gmail.com" target="_blank" rel="noopener"><span  class="william_email">william.andrew.simon@gmail.com</span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0 william_text">Phone</h4>
            <hr class="my-4 william_line">
            <div class="small text-black-50 william_text">+1 (216) 544-9497</div>
          </div>
        </div>
      </div>
    </div>

    <div class="social d-flex justify-content-center">
      <a href="https://www.linkedin.com/in/william-simon-197310112/" class="mx-2">
        <img class="fab william_icon" src="assets/LinkedIn.png">
      </a>
      <a href="https://www.facebook.com/william.simon.984" class="mx-2">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://github.com/simonwa7" class="mx-2">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </div>
</section>
