<!-- Featured Project Row -->
<div class="row justify-content-center align-items-center no-gutters mb-4 mb-lg-5">
  <div class="col-xl-8 col-lg-7">
    <img *ngIf="this.show" class="img-fluid mb-3 mb-lg-0" src={{this.image}} alt="">
  </div>
  <div class="col-xl-4 col-lg-5 william_featured william_padding" (click)="this.show = !this.show">
    <div class="featured-text text-center text-lg-left">
      <h4>{{this.title}}
      	<a *ngIf="this.download" href={{this.link}} download>
      		<img src="assets/download.png" style="width: 7%;">
      	</a>

  		  <a *ngIf=this.github href={{this.github}} class="mx-2" target="_blank">
  		    <i class="fab fa-github"></i>
  		  </a>
      </h4>
      <p class="text-black-50 mb-0">{{this.bio}}</p>
    </div>
  </div>
</div>

