<!-- Projects Section -->
<section id="projectsheader" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Projects</h2>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="projects-section bg-light">
  <div class="container">
    <app-nonfeatured-project [title]="'Mix Master DJ'" [bio]="'Test your DJ playlist creator skills! Using our Mix Master DJ game, anyone can see how well they can build a playlist by lining up songs based on similar attributes. Watch to see more or go try it for yourself!'" [download]="false" [github]="'https://github.com/alexcaulfield/mix-master'" [gif]="'assets/mixmaster.gif'"></app-nonfeatured-project>

    <app-featured-project [title]="'COMAP - World Language Projections'" [bio]="'This project was part of the Mathematical Contest in Modeling. The goal was to predict the growth of languages around the world and their affects on a potential business plan. We considered influences such as: political ties, GDP and trade relations, immigration, and social media. Click to see the compiled 24 page report!'" [link]="'assets/Projects/MCMPaper'" [download]="true"></app-featured-project>

    <app-nonfeatured-project [title]="'Technical Writing'" [bio]="'Here is a lab report from my Experimental Modern Physics Class. In this experiment, we examined the compton effect to determine the rest mass of an electron. Click to see more!'" [link]="'assets/Projects/Compton'" [download]="true"></app-nonfeatured-project>

    <app-featured-project [title]="'Twitter - An Analysis of Information Bubbles'" [bio]="'In this paper, an attempt was made to examine the existence of information bubbles using Twitter as a platform. We created a metric referred to as content similarity to analyze how similar a user was with their network and how that changed with varying degrees of separation. Click to see the final 10 page report!'" [link]="'assets/Projects/TwitterAnalysis'" [github]="'https://github.com/charlesrwinston/content_similarity'" [download]="true"></app-featured-project>

    <app-nonfeatured-project [title]="'NotUber'" [bio]="'In a class, we were tasked with developing a website with similar functionality to Uber. This project entailed use of the Google Maps API and was meant as an introduction to using APIs. Sadly we do not have any drivers in our area :('" [link]="'assets/Projects/NotUber'" [github]="'https://github.com/simonwa7/comp20-wsimon/blob/master/notuber'" [download]="false"></app-nonfeatured-project>

    <app-featured-project [title]="'NPRLocator'" [bio]="'Similar to the NotUber project, this was a simple project to display NPR radio stations in your area.'" [link]="'assets/Projects/NPRLocator'" [github]="'https://github.com/simonwa7/NPR-Locator'" [download]="false"></app-featured-project>

  </div>
</section>