<!--The content below is only a placeholder and can be replaced.-->
<body id="page-top">

    <app-navbar></app-navbar>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">{{ title }}</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">{{bio}}</h2>
        </div>
      </div>
    </header>

    <router-outlet id="section"></router-outlet>

    <app-footer></app-footer>
</body>
