<section id="resume" class="about-section text-center william_about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2 class="text-white mb-4" style="text-align: center;">Resume <a href="assets/WilliamSimonResume.pdf" download><img src="assets/download.png" style="width: 30px;"></a></h2>
        <app-resume-section [title]="'Education'" [show]="true"></app-resume-section>
        <app-resume-section [title]="'Work Experience'" [show]="false"></app-resume-section>
        <app-resume-section [title]="'Leadership Positions'" [show]="false"></app-resume-section>
        <app-resume-section [title]="'Skills and Technologies'" [show]="false"></app-resume-section>
      </div>
    </div>
    <img src="img/ipad.png" class="img-fluid" alt="">
  </div>
</section>